<div  style="width: 18rem; justify-content: center;">
<form (ngSubmit)="onSubmit(UserFormDetails.value)" #UserFormDetails='ngForm'>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           id="email"
           name="email"
           [(ngModel)]="email"
           class="form-control"
           required
          >
  </div>

  <div class="form-group">
    <label for="subscription">Subscription</label>
    <select class="form-control"
            name="subscription"
            [ngModel]=subscription
            id="subscription">
      <option *ngFor="let sub of subscriptions"
              [value]="sub"
              [selected]="sub === 'Advanced'">
        {{sub}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           id="password"
           [ngModel]="password"
           class="form-control"
           required
           password>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
  >Submit
  </button>

</form>
</div>
<div *ngFor="let u of arr">
<p *ngIf="submitted">{{u.email}}</p>
<p *ngIf="submitted">{{u.subscription}}</p>
<p *ngIf="submitted">{{u.password}}</p>

</div>