
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">

    <br>
    <div class="form-group">
    <label for="email"><b>Email id: </b></label>
    <input type="email" name="email" id="email" #email="ngModel" email placeholder="Enter Email" ngModel required>
    <br><span *ngIf="email.invalid && email.touched" style="color: red;">Please enter a valid Email id</span>
    </div>
  
    <div class="form-group">
    <label for="subscription"><b> Subscriptions: </b></label>
    <select name="subscription" id="subscription" [ngModel]="subscription" required>
      <option value="Basic"> Basic </option>
      <option value="Advanced"> Advanced </option>
      <option value="Pro"> Pro </option>
    </select>
    </div>
   
    <div class="form-group">
    <label for="password"><b> Password: </b></label>
    <input type="password" #password="ngModel" name="password" placeholder="Enter Password" ngModel required>
    <br><span *ngIf="password.invalid && password.touched" style="color: red;">Please enter a valid Password</span><br>
    </div>
  
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  
  <br>
  
  
  