<mat-card style="height: 300px; width: 300px;">
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(20, 20, 101);">Progress Bars</h1>
    <mat-card-content>
        <div>
            <h3>
                Determinate Progress Bar
            </h3>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <mat-divider></mat-divider>
        <div>
            <h3>
                Indeterminate Progress Bar
            </h3>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div>
            <h3>
                Buffer Progress Bar
            </h3>
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
        <mat-divider></mat-divider>
        <div>
            <h3>
                Query Progress Bar
            </h3>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>

    </mat-card-content>
  </mat-card>
  
