.edit{
    background-color:rgba(21, 5, 62, 0.836);
    color: white;
}
.delete{
    background-color: rgba(233, 20, 20, 0.747);
    color: white;
}
.edit:hover{
    background-color: rgb(50, 50, 139);
}
.delete:hover{
    background-color:rgba(117, 9, 9, 0.902);
}
tr:nth-child(even)
{
    background-color: rgb(203, 194, 194);
}
tr:nth-child(odd)
{
    background-color: rgb(255, 255, 255);
}
th{
    background-color: black;
    color: white;
}