<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.close()">
        <a mat-list-item>
          <mat-icon>library_books</mat-icon>
          <span>Courses List</span>
      </a>
      <a mat-list-item>
          <mat-icon>library_add</mat-icon>
          <span>Add Course</span>
      </a>
      <a mat-list-item routerLink="stepperform">
        <mat-icon>person_add</mat-icon>
        <span>Stepper Form</span>
    </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>
      
      <a routerLink="/" mat-button>

          <mat-icon>home</mat-icon>

          Home

      </a>


 
      <a routerLink="login" mat-button>
        <mat-icon>account_circle</mat-icon>
        Login

    </a>
      <a routerLink="register" mat-button>
          <mat-icon>person_add</mat-icon>
          Register
      </a>

      <a mat-button [matMenuTriggerFor]="dropdown">
        About Us
    </a>
    <mat-menu #dropdown>
        <button mat-menu-item (click)="openDialog1()">CEO Message</button>
        <button mat-menu-item (click)="openDialog2()">Contact Details</button>
    </mat-menu>
 
    

  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>